<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_EvolvedCachingSupport>
            <version>1.0.0</version>
        </HusseyCoding_EvolvedCachingSupport>
    </modules>
    <global>
        <models>
            <evolvedcachingsupport>
                <class>HusseyCoding_EvolvedCachingSupport_Model</class>
            </evolvedcachingsupport>
        </models>
    </global>
    <frontend>
        <events>
            <evolved_caching_block_welcome_render>
                <observers>
                    <frontend_evolved_caching_block_welcome_render_evolvedcaching_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockWelcomeRender</method>
                    </frontend_evolved_caching_block_welcome_render_evolvedcaching_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_welcome_render>
            <evolved_caching_block_product_list_list_cart_render>
                <observers>
                    <frontend_evolved_caching_block_product_list_list_cart_render_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockProductListListCartRender</method>
                    </frontend_evolved_caching_block_product_list_list_cart_render_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_product_list_list_cart_render>
            <evolved_caching_block_product_list_grid_cart_render>
                <observers>
                    <frontend_evolved_caching_block_product_list_grid_cart_render_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockProductListGridCartRender</method>
                    </frontend_evolved_caching_block_product_list_grid_cart_render_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_product_list_grid_cart_render>
            <evolved_caching_block_product_list_outofstock_cart_render>
                <observers>
                    <frontend_evolved_caching_block_product_list_outofstock_cart_render_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockProductListOutofstockCartRender</method>
                    </frontend_evolved_caching_block_product_list_outofstock_cart_render_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_product_list_outofstock_cart_render>
            <evolved_caching_block_welcome_regex>
                <observers>
                    <frontend_evolved_caching_block_welcome_regex_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockWelcomeRegex</method>
                    </frontend_evolved_caching_block_welcome_regex_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_welcome_regex>
            <evolved_caching_block_product_list_list_cart_regex>
                <observers>
                    <frontend_evolved_caching_block_product_list_list_cart_regex_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockProductListListCartRegex</method>
                    </frontend_evolved_caching_block_product_list_list_cart_regex_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_product_list_list_cart_regex>
            <evolved_caching_block_product_list_grid_cart_regex>
                <observers>
                    <frontend_evolved_caching_block_product_list_grid_cart_regex_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockProductListGridCartRegex</method>
                    </frontend_evolved_caching_block_product_list_grid_cart_regex_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_product_list_grid_cart_regex>
            <evolved_caching_block_product_info_tier_regex>
                <observers>
                    <frontend_evolved_caching_block_product_info_tier_regex_evolvedcachingsupport>
                        <class>evolvedcachingsupport/observer</class>
                        <method>frontendEvolvedCachingBlockProductInfoTierRegex</method>
                    </frontend_evolved_caching_block_product_info_tier_regex_evolvedcachingsupport>
                </observers>
            </evolved_caching_block_product_info_tier_regex>
        </events>
    </frontend>
</config>